**/AccountingBackend.Application/obj/
**/AccountingBackend.Api/obj/
**/AccountingBackend.Persistance/obj/
**/AccountingBackend.Infrastructure/obj/
**/AccountingBackend.Commons/obj/
**/AccountingBackend.Domain/obj/
**/AccountingBackend.Application.Test/obj/
**/AccountingBackend.Api.Test/obj/
**/AccountingBackend.Persistance.Test/obj/
**/AccountingBackend.Infrastructure.Test/obj/
**/AccountingBackend.Commons.Test/obj/
**/AccountingBackend.Domain.Test/obj/
**/AccountingBackend.Migration/obj/
**/node_modules/
**/AccountingBackend.Application/bin/
**/AccountingBackend.Api/bin/
**/AccountingBackend.Persistance/bin/
**/AccountingBackend.Infrastructure/bin/
**/AccountingBackend.Commons/bin/
**/AccountingBackend.Domain/bin/
**/AccountingBackend.Application.Test/bin/
**/AccountingBackend.Api.Test/bin/
**/AccountingBackend.Persistance.Test/bin/
**/AccountingBackend.Infrastructure.Test/bin/
**/AccountingBackend.Commons.Test/bin/
**/AccountingBackend.Domain.Test/bin/
**/BackendSecurity.Domain/bin/
**/BackendSecurity.Domain/obj/
**/BackendSecurity.Persistance/bin/
**/BackendSecurity.Persistance/obj/
**/BackendSecurity.Persistance.Test/obj/
**/BackendSecurity.Persistance.Test/bin/
**/BackendSecurity.Domain.Test/obj/
**/BackendSecurity.Domain.Test/bin/
.vscode/

.vs
